body {
	background-image: url("images/sun\ going\ down.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

footer {
	margin-bottom: 100px;
	text-align: center;
	font-size: 10px;
	color: #fff;
}

#weatherContainer {
	display: flex;
	margin: 0 auto;
	margin-top: 10px;
	box-sizing: content-box;
	width: 900px;
	height: 600px;
	border-radius: 10px;
	overflow: hidden;
}

#cityInput {
	font-family: "Oswald", sans-serif;
	text-align: center;
	height: 40px;
	width: 200px;
	border-radius: 5px;
	border: none;
	margin: 10px 20px;
}

.btn {
	border: none;
	background-color: #fff;
	color: #000;
	font-family: "Oswald", sans-serif;
	margin-left: 20px;
}

.btn:hover {
	color: hsla(40, 18%, 97%, 0.588);
	cursor: pointer;
	transition: all 200ms ease;
}
