body {
	background-image: url("images/sun\ going\ down.gif");
	background-repeat: no-repeat;
	background-size: cover;
}
li {
	font-family: "Oswald", sans-serif;
	list-style: none;
	color: #000;
}
footer {
	margin-bottom: 100px;
	text-align: center;
	font-size: 10px;
	color: #fff;
}

#weatherContainer {
	margin: 0 auto;
	box-sizing: content-box;
	background-color: hsla(40, 20%, 97%, 0.588);
	width: 720px;
	height: 200px;
	border-radius: 10px;
	color: #000;
}

#cityInput {
	font-family: "Oswald", sans-serif;
	background-color: hsla(40, 18%, 97%, 0.588);
	font-weight: bold;
	text-align: center;
	height: 40px;
	width: 200px;
	border-radius: 5px;
	border: none;
	margin: 20px 300px;
}

#description {
	padding-left: 600px;
	font-size: 20px;
}

.btn {
	position: relative;
	left: 20px;
	bottom: 67px;
	border: none;
	background-color: #fff;
	color: #000;
	font-family: "Oswald", sans-serif;
	margin: 10px 500px;
}

.btn:hover {
	color: hsla(40, 18%, 97%, 0.588);
	cursor: pointer;
	transition: all 200ms ease;
}

.cityName {
	color: #000;
	font-family: "Oswald", sans-serif;
	font-size: 50px;
	position: relative;
	color: #000;
	left: 30px;
}

.currentDay {
	position: relative;
	padding-top: 300px;
	color: #000;
	font-family: "Oswald", sans-serif;
}
