body {
	background-image: url("images/sky.jpg");
	background-position: center;
}

footer {
	text-align: center;
	font-size: 10px;
	color: #fff;
}

#weatherContainer {
	margin: 0 auto;
	box-sizing: content-box;
	background-color: hsla(40, 20%, 97%, 0.588);
	width: 730px;
	height: 200px;
	border-radius: 10px;
	color: #000;
}

#cityInput {
	font-family: "Oswald", sans-serif;
	background-color: hsla(40, 18%, 97%, 0.588);
	font-weight: light;
	text-align: center;
	height: 40px;
	width: 200px;
	border-radius: 5px;
	border: none;
	margin: 20px 570px;
}

#icon {
	position: fixed;
	padding: 0px 370px;
}

#predictions {
	font-family: "Oswald", sans-serif;
	font-weight: lighter;
	font-size: 30px;
	text-align: center;
	color: #000;
	position: fixed;
	margin-left: 430px;
	padding-top: 15px;
}

#forecast {
	margin: 0 auto;
	margin-top: 120px;
	box-sizing: content-box;
	background-color: hsla(40, 20%, 97%, 0.588);
	width: 730px;
	height: 250px;
	border-radius: 10px;
	color: #000;
}

.btn {
	position: relative;
	left: 20px;
	bottom: 67px;
	border: none;
	background-color: #fff;
	color: #000;
	font-family: "Oswald", sans-serif;
	margin: 60px 590px;
	margin-bottom: 0px;
}

.btn:hover {
	color: hsla(40, 18%, 97%, 0.588);
	cursor: pointer;
	transition: all 200ms ease;
}

.cityName {
	color: #000;
	font-family: "Oswald", sans-serif;
	font-size: 50px;
	position: fixed;
	color: #000;
	left: 370px;
	padding-top: 30px;
}

.currentDay {
	position: fixed;
	padding-top: 100px;
	padding-left: 15px;
	color: #000;
	font-family: "Oswald", sans-serif;
	font-size: 20px;
}

.currentDate {
	position: fixed;
	padding-left: 70px;
	padding-top: 100px;
	color: #000;
	font-family: "Oswald", sans-serif;
	font-size: 20px;
}

.currentTime {
	position: fixed;
	padding-left: 15px;
	padding-top: 130px;
	color: #000;
	font-family: "Oswald", sans-serif;
	font-size: 20px;
}

.temperature {
	position: fixed;
	padding-top: 20px;
	padding-left: 590px;
	font-family: "Oswald", sans-serif;
	font-size: 70px;
}

.units {
	padding-left: 690px;
	padding-top: 40px;
	font-family: "Oswald", sans-serif;
	font-size: 15px;
	color: #fff;
}

.description {
	position: fixed;
	padding-left: 600px;
	padding-top: 120px;
	font-family: "Oswald", sans-serif;
	font-size: 20px;
}
